* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 700px;
    margin: 20px auto;
    background-color: #10b1d1 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid black;
}

.header {
    height: 50px;
    padding-top: 10px;
}

.header .fas {
    line-height: 50px;
    font-size: 20px;
}

.header h1 {
    display: inline-block;
    padding: 0 10px;
    font-size: 30px;
    line-height: 50px;
}

.month-list {
    padding-top: 20px;
    text-align: center;
    color: #f9ff84;
}

.festivo {
    color: #e31616;
}
